<% if @errors && @errors.any? %>
	<% @errors.each do |error| %>
	<ul style="list-style-type: non;">
		<li><%= error %></li>
	</ul>	
	<% end %>
<% end %>

<%= form_for @artist, html: { multipart: true } do |f| %>
<ul style="list-style-type: none;">
	<li><%= f.text_field :first_name, placeholder: "First Name" %></li>
	<li><%= f.text_field :last_name, placeholder: "Last Name" %></li>
	<li><%= f.email_field :email, placeholder: "Email" %></li>
	<li><%= f.text_field :phone, placeholder: "phone" %></li>
	<li><label>Bio</label></li>
	<li><%= f.text_area :bio, size: "60X12" %></li>
    <%= f.password_field :password, placeholder: "password" %>
    <li><%= image_tag(@artist.avatar_url) if @artist.avatar? %></li>
    <li><%= f.file_field :avatar %></li>
    <li><%= f.hidden_field :avatar_cache %></li>
    <li><%= f.submit "Update Profile" %></li>
</ul>
<% end %>