<h1>Here are all of our paintings</h1>
<% if @paintings.any? %>
	<% @paintings.each do |painting| %>
	<ul style="list-style-type: none;">
		<li>Title: <%= link_to "#{painting.name_of_painting}", painting %></li>
		<li><%= link_to image_tag(painting.avatar_url(:thumb).to_s), painting %></li>
		
		<li>Artist: <%= painting.artist.first_name %> | Price: $<%= painting.price %></li>
		<li>Email: <%= painting.artist.email %> | Phone: <%= painting.artist.phone %></p></li> 	
	</ul>
	<% end %>
<% end %>
<% if current_user %>	
	<%= link_to "Submit your art", new_painting_path %>
<% end %>